<h1>{{title}}</h1>

 <h1>Birds</h1>
 <button (click)="toggleANDcount()">Display Details</button>
 <br><br>
 <p *ngIf="show">Birds are a group of warm-blooded vertebrates constituting the class Aves , characterised by
   feathers, toothless beaked jaws, the laying of hard-shelled eggs, a high metabolic rate, a four-chambered heart,
    and a strong yet lightweight skeleton. Birds live worldwide and range in size from the 5.5 cm (2.2 in) bee 
    hummingbird to the 2.8 m (9 ft 2 in) common ostrich. There are about ten thousand living species, more than
     half of which are passerine, or "perching" birds.</p>
     <br><br>
     <h4>No. of 'Display Details' button clicks :: {{count}}</h4>
     <br><br>
  <input type="text" placeholder="Enter Text" #inputText>
  <button (click)="AddData(inputText.value)">Add</button>
  <br><br>
  <div id="paragraphdiv"></div>


